<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bw.dao.GroupMapper">
  <resultMap id="BaseResultMap" type="com.bw.entity.Group">
    <id column="group_id" jdbcType="BIGINT" property="groupId" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="group_code" jdbcType="VARCHAR" property="groupCode" />
    <result column="group_flag" jdbcType="TINYINT" property="groupFlag" />
    <result column="group_delete" jdbcType="TINYINT" property="groupDelete" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
  </resultMap>
  <sql id="Base_Column_List">
    group_id, group_name, group_code, group_flag, group_delete, update_time, update_by
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_group
    where group_id = #{groupId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_group
    where group_id = #{groupId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bw.entity.Group">
    insert into tb_group (group_id, group_name, group_code, 
      group_flag, group_delete, update_time, 
      update_by)
    values (#{groupId,jdbcType=BIGINT}, #{groupName,jdbcType=VARCHAR}, #{groupCode,jdbcType=VARCHAR}, 
      #{groupFlag,jdbcType=TINYINT}, #{groupDelete,jdbcType=TINYINT}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.bw.entity.Group">
    insert into tb_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="groupId != null">
        group_id,
      </if>
      <if test="groupName != null">
        group_name,
      </if>
      <if test="groupCode != null">
        group_code,
      </if>
      <if test="groupFlag != null">
        group_flag,
      </if>
      <if test="groupDelete != null">
        group_delete,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="groupId != null">
        #{groupId,jdbcType=BIGINT},
      </if>
      <if test="groupName != null">
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="groupCode != null">
        #{groupCode,jdbcType=VARCHAR},
      </if>
      <if test="groupFlag != null">
        #{groupFlag,jdbcType=TINYINT},
      </if>
      <if test="groupDelete != null">
        #{groupDelete,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bw.entity.Group">
    update tb_group
    <set>
      <if test="groupName != null">
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="groupCode != null">
        group_code = #{groupCode,jdbcType=VARCHAR},
      </if>
      <if test="groupFlag != null">
        group_flag = #{groupFlag,jdbcType=TINYINT},
      </if>
      <if test="groupDelete != null">
        group_delete = #{groupDelete,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
    </set>
    where group_id = #{groupId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bw.entity.Group">
    update tb_group
    set group_name = #{groupName,jdbcType=VARCHAR},
      group_code = #{groupCode,jdbcType=VARCHAR},
      group_flag = #{groupFlag,jdbcType=TINYINT},
      group_delete = #{groupDelete,jdbcType=TINYINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=BIGINT}
    where group_id = #{groupId,jdbcType=BIGINT}
  </update>
</mapper>